[submodule "jenkins"]
	path = jenkins
	url = https://github.com/IotMining/jenkins.git
[submodule "configurations"]
	path = configurations
	url = https://github.com/IotMining/configuration.git
[submodule "k8s"]
	path = k8s
	url = https://github.com/IotMining/k8s.git
[submodule "microservices"]
	path = microservices
	url = https://github.com/IotMining/microservices.git
[submodule "monitoring-agent"]
	path = monitoring-agent
	url = https://github.com/IotMining/monitoring-agent.git
